* { font-family:'微软雅黑';}
.input { height:28px; line-height:28px; width:200px; font-size:14px; color:#888; }
.input:focus { box-shadow:0 0 2px blue;}
.label-input { font-size:14px; color:#000;}
.margin-bottom-10 { margin-bottom:10px;}
.margin-left-10 { margin-left:10px; }
.margin-top-10 { margin-top: 10px;}
.margin-right-10 { margin-right:10px; }
.margin-10 { margin:10px; }
.bold { font-weight:bold;}
.normal {font-weight:normal;}

.position-fixed { position:fixed; }
.position-relative { position:relative; }
.position-static { position:static; }
.position-absolute { position:absolute; }

.font-size-20 { font-size:20px; }
.font-size-14 { font-size:14px; }
.font-size-12 {font-size:12px;} 

.button { width:80px; height:30px; text-align:center; line-height:30px;}